.contact-form {}

.contact-form .form-control {
    border-radius: 5px;
    background-color: transparent;
    height: 50px;
    color: #ffff;
    border: solid 3px rgba(255, 255, 255, .1);
}


.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 40px 50px;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 1.5%;
    background: linear-gradient(45deg, #1e88e9 0%, #72d5f4 100%);
    font-weight: 100;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    padding: 15px;
}

.btnContactSubmit {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.contact-icon {
    text-align: center;
    font-size: 40px;
    padding: 20px 0px;
}

.contact-info p {
    text-align: center;
    font-size: 14px;
    padding-top: 3px;
    margin: 0;
}

.contact-section {
    padding-top: 50px;
}

.submit-btn {
    float: right;
}
